* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: source sans pro, helvetica neue, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.8;
    color: rgba(0, 0, 0, .84);
    background: #f2f2f5;
    scroll-behavior: smooth;
}

a {
    color: rgba(0, 0, 0, .84);
    text-decoration: none;
}

header {
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #fff;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 20px;
}

header .navigation li a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

header .navigation li a:hover {
    color: #c05b4d;
}

#container {
    padding: 3em 0 1px;
}

.posts {
    max-width: 1080px;
    margin: 0 auto 3em;
    padding: 2em 5em;
    background: #fff;
}

.posts .post-header {
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px LightGrey solid;
}

.posts .post-meta {
    font-size: 14px;
    color: #8a8a8a;
}

.posts .post-content {
    padding: 3px 0;
}

.posts .post-summary {
    color: #666;
    line-height: 33px;
    font-size: 15px;
}

.posts .post-more {
    text-align: right;
    margin: 15px 0 0 0;
}

.posts .post-more a {
    font-size: 13px;
    color: #c05b4d;
}

.posts .post-more a:hover {
    color: burlywood;
}

#paging {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: black;
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
}

.pagination .page-active {
    background-color: #4CAF50;
    color: white;
}

.pagination li a:hover:not(.page-active) {
    background-color: #ddd;
}

#article-content, #about-content, #leave-content {
    max-width: 1080px;
    margin: 0 auto 3em;
    padding: 2em 5em;
    background: #fff;
}

.article-rows .article-row {
    line-height: 3em;
}

.article-rows .article-create-time {
    color: #c05b4d;
}

.article-rows .article-detail-link {
}

.article-rows .article-detail-link:hover {
    text-decoration: underline;
}

.article-rows .article-info {
    font-size: 12px;
    color: #8a8a8a;
}

.tap-banner {
    border-bottom: #666666 solid 1px;
    margin-bottom: 1em;
}

.tap-banner p {
    line-height: 2em;
}

.tap-banner span {
    color: #666666;
}


.leave-input {

}

.leave-input .leave-input-content {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.leave-info {
    text-align: right;
}

.leave-info .leave-sender-email {
    max-width: 250px;
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.leave-info .leave-submit {
    background-color: #4CAF50;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.leave-info .leave-submit:hover {
    background-color: #45a049;
}

.leave-rows {

}

.leave-rows .leave-row {
    margin-bottom: 2em;
}

.leave-rows .leave-row::after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.leave-rows .leave-avatar {
    width: 10%;
    max-width: 80px;
    text-align: center;
    height: 100%;
    float: left;
}

.leave-rows .leave-avatar svg {
    width: 100%;
    height: 100%;
}

.leave-rows .leave-detail {
    float: left;
    width: 90%;
}

.leave-rows .leave-detail-info-sender {
    color: darkcyan;
}

.leave-rows .leave-detail-info-created-at {
    color: #c05b4d;
    font-size: 12px;
}

.leave-rows .leave-detail-content {
    font-size: 14px;
    color: #666666;
}

#footer {
    text-align: center;
    font-size: 13px;
    margin: 15px 0;
}

/*屏幕宽度小于991px,改变布局和样式*/
@media screen and (max-width: 991px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
    .leave-rows .leave-avatar {
        width: 20%;
    }
    .leave-rows .leave-detail {
        width: 80%;
    }
}

/*屏幕宽度小于600px,改变布局和样式*/
@media screen and (max-width: 600px) {
    header .search {
        width: 100%;
    }
    .leave-rows .leave-avatar {
        width: 30%;
    }
    .leave-rows .leave-detail {
        width: 70px;
    }
}