<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”keywords” content="Mingo Blog 技术博客">
    <meta name=”description” content="Mingo Blog"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
    <script type="text/javascript" src="/resources/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/resources/js/index.js"></script>
    <title>Mingo's Blog - About Me</title>
</head>
<body>
{{template "header" .}}
<div id="container">
    <div id="about-content">
        <div class="tap-banner">
            <p><span>关于我</span></p>
        </div>
        我是一个普通的开发者
    </div>
</div>
{{template "footer" .}}
</body>
</html>