<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”keywords” content="Mingo Blog 技术博客">
    <meta name=”description” content="Mingo Blog"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
    <script type="text/javascript" src="/resources/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/resources/js/index.js"></script>
    <title>Mingo's Blog - Article List</title>
</head>
<body>
{{template "header" .}}
<div id="container">
    <div id="article-content">
        <div class="tap-banner">
            <p><span>文章归档</span></p>
        </div>
        <ul class="article-rows">
            <li class="article-row">
                <span class="article-create-time">2012.12.01</span>
                <a class="article-detail-link" href="/article/1">Golang 开发入门指南1</a>
                <span class="article-info">点赞: 385 阅读: 4322442</span>
            </li>
            <li class="article-row">
                <span class="article-create-time">2012.12.01</span>
                <a class="article-detail-link" href="/article/1">深入理解 HTTP 协议</a>
                <span class="article-info">点赞: 385 阅读: 4322442</span>
            </li>
        </ul>
    </div>
</div>
{{template "footer" .}}
</body>
</html>